body, header, main, footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}
body
{
	height: 100%;
}
#main
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 80%;
}
header
{
	height: 100px;
}
main
{
	border: solid 1px;
}
main section
{
	width: 200px;
}
#game
{
	position: relative;
	border: solid 1px;
}
#game svg
{
	position: absolute;
}
footer
{
	height: 100px;
}

@media(prefers-color-scheme: light)
{
	body
	{
		background: white;
		color: black;
	}
	main, #game
	{
		border-color: black;
	}
}

@media(prefers-color-scheme: dark)
{
	body
	{
		background: black;
		color: white;
	}
	main, #game
	{
		border-color: white;
	}
}
